.AccountSettings {
  .userUrl {
    margin: 2rem 0;
  }
  .btnWhats {
    background-color: #33de53;
    color: white;
    margin-bottom: 1.5rem;
  }
  .btnWhats:hover {
    background-color: #67ff83;
    border-color: #67ff83;
  }
  .btnWhats:focus {
    background-color: #67ff83;
    border-color: #67ff83;
  }
  .btnSave,
  .btnWhats {
    width: 12.6rem;
  }
  .inputColor {
    // display: none;
    height: 2.35rem;
    width: 6rem;
  }
  .btnColor {
    height: 3rem;
    width: 3rem;
  }
  .btnSave {
    margin-top: 2rem;
  }
  .userImg {
    width: 100%;
    padding-bottom: 0.5rem;
    margin: auto;
  }
  .userImgContainer {
    min-height: 10rem;
    display: flex;
  }
  .placeholder {
    margin: auto;
    font-size: 3.5rem;
    padding: 1.5rem;
    color: #9146f7c2;
  }

}